<!-- offcanvas -->
    <div
      class="offcanvas offcanvas-start sidebar-nav border-0"
      tabindex="-1"
      id="sidebar"
      style="background: #063372;"
    >
      <div class="offcanvas-body ">
        <nav class="navbar-dark text-white">
          <ul class="navbar-nav">
            <!-- <li>
              <div class="text-muted small fw-bold text-uppercase px-3">
                CORE
              </div>
            </li> -->
            <li class="mt-2"></li>
            <li>
              <a href='{% url "dashboard" %}' class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                Interface
              </div>
            </li>
        
            <li>
              <a href="{% url 'files:file-list' %}" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-book-fill"></i></span>
                <span>Files</span>
              </a>
            </li>
            {% if request.user.is_organisor %}
            <li>
              <a href="{% url 'agents:agent-list' %}" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-book-fill"></i></span>
                <span>Agent</span>
              </a>
            </li>
            {% endif %}
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                Addons
              </div>
            </li>
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-graph-up"></i></span>
                <span>Empty</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- offcanvas -->